.DrawPad {
    position: relative;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;

}
.DrawPad>canvas {
    width: 800px;
    height: 600px;
    background-color: white;
}